<div ng-controller="DemoCtrl">
	<vr-scene update='update(dt, t)' stereoscopic="stereo" eye-distance="eye">
		<vr-container lat="-30" long="0" altitude="holaTest" >
			<div vr-dom>
				<div ng-repeat="i in holas" 
					class="hola" 
					ng-style="{'transform':'scaleX('+holaScale+')'}"
					ng-click="holas.push(holas.length)"
				>
					HOLA {{i}}
				</div>

				<!-- <video width="320" height="240" controls autoplay>
				  <source src="assets/video.webm" type="video/webm">
				  Your browser does not support the video tag.
				</video> -->
				<!-- <iframe src="http://www.jasondavies.com/animated-bezier/"> </iframe> -->
			</div>
			
		</vr-container>
		
		<vr-container orientation="useIMU ? 'imu' : 'mouse'">
			<vr-camera fov="fov"></vr-camera>
		</vr-container>

		<vr-sphere radius="600" texture="assets/images/pano.jpg"></vr-sphere>
		
<!-- 		<vr-container lat="0" long="0" altitude="150">
			<vr-model json="assets/auto.json" texture="assets/textures/gtare.jpg" scale="0.5"></vr-model>
		</vr-container>
 -->
<!-- 	
		<vr-container lat="-90" long="0" altitude="150">
			<vr-container orientation="useIMU ? 'imu' : 'mouse'">
				<vr-sphere radius="50" texture="assets/images/pano.jpg"></vr-sphere>
			</vr-container>
		</vr-container>
-->
		<vr-container lat="birdsLat" long="-70" altitude="400" >
			<vr-sound file="assets/birds.mp3" playing="sound"></vr-sound>
			<vr-image width="200" height="100" texture="assets/images/birds.png"></vr-image>
		</vr-container>
		
		<vr-container lat="10" long="0" altitude="200" >
			<vr-sound file="assets/dogs.mp3" playing="sound"></vr-sound>
			<vr-image width="100" height="200" texture="assets/images/dog.png"></vr-image>
		</vr-container>
		<vr-container lat="0" long="0" altitude="100" >
			<vr-sound file="assets/dogs.mp3" playing="sound"></vr-sound>
			<vr-image width="25" height="50" texture="assets/images/dog.png"></vr-image>
		</vr-container>
		


	</vr-scene>
	<toggles>
		<label class="stereoModeToggle"><input type="checkbox" ng-model="sound">Sound</label>
		<label class="stereoModeToggle"><input type="checkbox" ng-model="stereo">Stereo</label>
	</toggles>
</div>
